<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>objects</key>
	<array>
        
        <dict>
            <key>image</key>
<string>LehCfnMDga.jpg</string>
            <key>text</key>
<string>2.- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vestibulum a enim sed lacinia. Vestibulum in convallis nibh, quis facilisis nulla.</string>
            <key>id</key>
<string>5819d095e2fba803003ffc37</string>
        </dict>
        <dict>
            <key>image</key>
<string>AC1Vm52B1Z.jpg</string>
            <key>text</key>
<string>1.- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vestibulum a enim sed lacinia. Vestibulum in convallis nibh, quis facilisis nulla.</string>
            <key>id</key>
<string>5819d095e2fba803003ffc38</string>
        </dict>
	</array>
</dict>
</plist>
